@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0077ff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005fcc;
}
